* {
    font-size: 20px;
    line-height: 24px;
    margin: 0;
    box-sizing: border-box;
    border: 0;
}

main {
    display: flex;
    flex-direction: column;
    gap: 24px;

    div {
        display: flex;
        flex-direction: column;
        gap: 24px;
        width: 100%;
    }

    p {
        padding-left: 8px;
        padding-right: 8px;
    }
}

.actions {
    display: flex;
    flex-direction: column;
    gap: 40px;
    height: 176px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.button-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.stat {
    text-align: right;
    font-size: 32px;
    font-weight: 600;
}

button,
select {
    line-height: 32px;
    height: 40px;
    font-size: 24px;
    font-weight: 600;
    padding: 0 0 8px 0;
    text-align: center;
}

@media screen and (min-width: 768px) {
    main {
        width: 600px;
        margin: auto;
        padding: 0;
    }

    p.context {
        min-height: 200px;
    }

    .actions {
        position: static;
    }

    .button-list {
        flex-direction: row;
        button {
            flex-grow: 1;
        }
    }

    .stat {
        position: fixed;
        top: 8px;
        right: 8px;
    }
}
