* {
    font-size: 20px;
    line-height: 24px;
    margin: 0;
    box-sizing: border-box;
    border: 0;
}

main {
    display: flex;
    flex-direction: column;
    p {
        padding-left: 8px;
        padding-right: 8px;
    }
    gap: 24px;
}

.actions {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}

.button-list {
    display: flex;
    flex-direction: column;
    gap: 16px;

    &.near-bottom {
        position: fixed;
        bottom: 64px;
        right: 0;
        left: 0;
    }

    &.bottom {
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
    }
}

.stat {
    text-align: right;
    font-size: 32px;
    font-weight: 600;
}

button {
    line-height: 32px;
    height: 40px;
    font-size: 24px;
    font-weight: 600;
    padding: 0 0 8px 0;
    text-align: center;
}

select {
    line-height: 32px;
    height: 40px;
    font-size: 24px;
    font-weight: 600;
    padding: 0 0 8px 0;
    text-align: center;
    appearance: none;
    background-image: url("./arrow-down.svg");
    background-position: right 8px center;
    background-size: 16px;
    background-repeat: no-repeat;
}

@media screen and (min-width: 768px) {
    main {
        width: 600px;
        margin: auto;
        padding: 0;
    }

    p.context {
        min-height: 200px;
    }

    .button-list {
        flex-direction: row;
        button {
            flex-grow: 1;
        }

        &.near-bottom,
        &.bottom {
            position: static;
        }
    }

    .stat {
        position: fixed;
        top: 8px;
        right: 8px;
    }
}
