* {
    font-size: 20px;
    line-height: 24px;
    margin: 0;
    box-sizing: border-box;
}

p,
div {
    padding-bottom: 24px;
}

.actions {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}

.button-list {
    display: flex;
    flex-direction: column;
    gap: 16px;

    &.near-bottom {
        position: fixed;
        bottom: 64px;
        right: 0;
        left: 0;
    }

    &.bottom {
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
    }
}

.stat {
    text-align: right;
    font-size: 32px;
    font-weight: 600;
}

button {
    height: 40px;
    font-size: 24px;
    font-weight: 600;
    padding: 0px 16px 8px 16px;
    border: 0;
}

@media screen and (min-width: 768px) {
    main {
        width: 600px;
        margin: auto;
    }

    .button-list {
        flex-direction: row;
        button {
            flex-grow: 1;
        }

        &.near-bottom,
        &.bottom {
            position: static;
        }
    }

    .stat {
        position: fixed;
        top: 8px;
        right: 8px;
    }
}
