* {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
}

body:has(.wrong) {
    background-color: indianred;
}

p.context {
    span {
        color: red;
        font-weight: 600;
        text-wrap: nowrap;
    }
}

.button-list {
    button {
        &.wrong {
            text-decoration: 2px line-through;
        }
    }
}

.stat {
    font-weight: 600;
}

button,
select {
    background-color: bisque;
}

select {
    appearance: none;
    background-image: url("./arrow-down.svg");
    background-position: right 8px center;
    background-size: 16px;
    background-repeat: no-repeat;
}

@media screen and (min-width: 768px) {
    button:hover {
        background-color: brown;
    }
}
