* {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
}

body:has(.wrong) {
    background-color: indianred;
}

p.context {
    span {
        color: red;
        font-weight: 600;
    }
}

.button-list {
    button {
        &.wrong {
            text-decoration: 2px line-through;
        }
    }
}

.stat {
    font-weight: 600;
}

button,
select {
    background-color: bisque;
}

@media screen and (min-width: 768px) {
    button:hover {
        background-color: brown;
    }
}
